# vim: ft=yaml
# Custom Pillar Data for blackfire-formula

blackfire:
  lookup:
    enabled: true
    pkgs:
      - blackfire-agent
      - blackfire-php
    server_id: 'replace'
    server_token: 'replace'
    log_level: 1
